/* Base */

body {
    font-family: "Nunito", sans-serif;
}

a {
    color: $mine-shaft;
    transition: color $animation-time-short;
    &:hover,
    &:active {
        text-decoration: initial;
        color: $main-color;
    }
}

input {
    box-shadow: none !important;
}

.logo-single {
    width: 110px;
    height: 35px;
    background: url("~assets/img/logo-black.svg") no-repeat;
    background-position: center center;
    display: inline-block;
    margin-bottom: 40px;
}


/* Layout */

.layout-content {
    margin-top: $navbar-height;
    margin-left: 320px;
    padding: 40px;
    background: $background-color;
    min-height: calc(100vh - 200px);
}


/* Buttons */

.btn {
    border-radius: 50px;
    outline: initial !important;
    box-shadow: none !important;
    box-shadow: initial !important;
    font-size: 0.8rem;
    padding: 0.75rem 1.3rem 0.6rem 1.3rem;
    transition: background-color box-shadow 0.1s linear;
}

.dropdown-item {
    padding: 0.75rem 1.5rem;
}

.dropdown-item.active,
.dropdown-item:active {
    color: $button-text-color;
    text-decoration: none;
    background-color: $main-color;
}

.btn-xl,
.btn-group-xl>.btn {
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.05rem;
    padding: 1rem 3.5rem 0.9rem;
}

.btn-lg,
.btn-group-lg>.btn {
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.05rem;
    padding: 0.8rem 2.6rem 0.65rem 2.6rem;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 0.5rem 1rem;
    font-size: 0.76rem;
    line-height: 1.5;
}

.btn-xs,
.btn-group-xs>.btn {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    font-size: 0.76rem;
    line-height: 1.3;
}

.btn-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 1px rgba(0, 0, 0, 0.15) !important;
    transition: background-color box-shadow 0.1s linear;
    &:hover,
    &:focus {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 4px 6px 2px rgba(0, 0, 0, 0.15) !important;
    }
}

.btn-multiple-state {
    position: relative;
    transition: opacity 500ms;
    .spinner,
    .icon {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        visibility: hidden;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 500ms;
        color: $white;
    }
    .icon i {
        vertical-align: text-bottom;
        font-size: 18px;
    }
    .label {
        transition: opacity 500ms;
    }
    &.show-spinner {
        .label {
            opacity: 0;
        }
        .spinner {
            opacity: 1;
            visibility: visible;
        }
    }
    &.show-success {
        .label {
            opacity: 0;
        }
        .icon.success {
            opacity: 1;
            visibility: visible;
        }
    }
    &.show-fail {
        .label {
            opacity: 0;
        }
        .icon.fail {
            opacity: 1;
            visibility: visible;
        }
    }
    &.btn-primary:disabled {
        opacity: 1;
        background: darken($main-color, 10%);
        border-color: darken($main-color, 10%);
    }
}


/* Breadcrumb */

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "|";
}


/* Navbar */

.navbar {
    background: $foreground-color;
    height: 90px;
    padding: 1.5rem 0 1.5rem 0;
    @include depth(1);
    #tool-mode-switch {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .notificationDropdown {
        width: 260px;
        padding: 1.5rem;
        height: 280px;
        right: 15px;
        .ps-container {
            height: 250px;
        }
    }
    .iconMenuDropdown {
        width: 220px;
        padding: 1.5rem 1rem;
        height: 290px;
    }
    .icon-menu-item {
        width: 90px;
        display: inline-block;
        text-align: center;
        margin-bottom: 1.7rem;
        color: rgba($mine-shaft, 0.8);
        i {
            font-size: 28px;
            line-height: 42px;
        }
        span {
            text-align: center;
            padding: 0 10px;
            line-height: 14px;
        }
        &:hover,
        &:focus {
            color: $main-color
        }
    }
    .menu-button-mobile {
        color: $secondary;
        text-align: center;
        svg {
            height: 12px;
            fill: $mine-shaft;
        }
        margin-left: 15px;
        // @include respond-below(sm) {
        //   width: 20px;
        // }
    }
    .menu-button {
        color: $secondary;
        width: 120px;
        text-align: center;
        svg {
            height: 12px;
        }
        .main {
            fill: $mine-shaft;
            transition: fill 300ms;
        }
        .sub {
            fill: $mine-shaft;
            transition: fill 300ms;
        }
        &:hover {
            color: $main-color;
        }
        // @include respond-below(xl) {
        //   width: $main-menu-width-lg;
        // }
        // @include respond-below(lg) {
        //   width: $main-menu-width-md;
        // }
        // @include respond-below(sm) {
        //   width: 60px;
        // }
    }
    .navbar-left {
        flex-basis: 40%;
    }
    .navbar-right {
        flex-basis: 40%;
        text-align: right;
        .user {
            margin-right: 60px;
            .dropdown-menu {
                border-radius: $border-radius-rounded;
            }
            // @include respond-below(xl) {
            //   margin-right: $main-margin-lg;
            // }
            // @include respond-below(lg) {
            //   margin-right: $main-margin-md;
            // }
            // @include respond-below(sm) {
            //   margin-right: $main-margin-xs;
            // }
        }
    }
    .navbar-logo {
        width: 110px;
        height: 35px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        .logo {
            width: 100%;
            height: 100%;
            background: url('~assets/img/logo-black.svg') no-repeat;
            background-position: center center;
        }
        .logo-mobile {
            width: 100%;
            height: 100%;
            background: url('~assets/img/logo-mobile.svg') no-repeat;
            background-position: center center;
        }
        // @include respond-below(sm) {
        //   width: 80px;
        // }
        // @include respond-below(xxs) {
        //   width: 20px;
        // }
    }
    .search {
        position: relative;
        width: 230px;
        border-radius: 20px;
        background: $light;
        input {
            border: initial;
            background: transparent;
            outline: initial !important;
            padding: 0.5rem 1rem;
            line-height: 2;
            font-size: 0.8rem;
            width: 93%;
            color: $mine-shaft;
        }
        .search-icon {
            font-size: 17px;
            border-radius: 10px;
            color: $secondary;
            position: absolute;
            width: 40px;
            height: 40px;
            bottom: -8px;
            right: 3px;
            text-align: center;
            cursor: pointer;
            &:hover {
                color: $main-color;
            }
        }
        // @include respond-below(lg) {
        //   width: $sub-menu-width * 0.7;
        //   input {
        //     width: 85%;
        //   }
        // }
        // @include respond-below(md) {
        //   width: $sub-menu-width/2;
        //   input {
        //     width: 85%;
        //   }
        // }
        // @include respond-below(sm) {
        //   width: 30px;
        //   height: 30px;
        //   background: initial;
        //   margin-left: 0.6rem;
        //   color: rgba($primary-color, 0.7);
        //   input {
        //     display: none;
        //   }
        //   .search-icon {
        //     font-size: 17px;
        //     width: 30px;
        //     height: 30px;
        //     bottom: -3px;
        //     right: 0;
        //     color: inherit;
        //   }
        //   &.mobile-view {
        //     display: block;
        //     width: 100%;
        //     position: fixed;
        //     z-index: 2;
        //     background: $foreground-color;
        //     left: 0;
        //     top: 0;
        //     height: $navbar-height-xs;
        //     margin-left: 15px;
        //     input {
        //       display: block;
        //       width: 100%;
        //       height: 70px;
        //       padding-left: 0;
        //     }
        //     span {
        //       top: 50%;
        //       transform: translateY(-50%);
        //       right: 25px;
        //     }
        //   }
        // }
    }
    .header-icons {
        margin-right: 1rem;
        // @include respond-below(xs) {
        //   margin-right: 0;
        // }
    }
    .header-icon {
        font-size: 16px;
        color: $secondary;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        vertical-align: initial;
        // @include respond-below(xs) {
        //   padding-left: 0.3rem;
        //   padding-right: 0.3rem;
        // }
        &::after {
            border: initial;
        }
        &:hover {
            color: $main-color;
        }
        &#fullScreenButton i:last-of-type {
            display: none;
        }
        &.notificationButton {
            .count {
                font-size: 10px;
                color: $main-color;
                border: 1px solid $main-color;
                border-radius: 10px;
                position: absolute;
                width: 18px;
                height: 15px;
                text-align: center;
                font-weight: 700;
                line-height: 14px;
                top: -6px;
                right: -2px;
            }
        }
    }
    .user {
        color: lighten($primary, 30%);
        position: relative;
        .dropdown-toggle:after {
            border: initial;
        }
        img {
            margin-left: 10px;
            border-radius: 30px;
            width: 40px;
        }
        // @include respond-below(md) {
        //   .name {
        //     display: none;
        //   }
        // }
        // @include respond-below(sm) {
        //   img {
        //     width: 30px;
        //   }
        //   margin-left: initial;
        //   &:after {
        //     font-size: 11px;
        //     width: 14px;
        //     height: 14px;
        //     bottom: -3px;
        //     right: -3px;
        //   }
        // }
    }
    // @include respond-below(xl) {
    //   height: $navbar-height-lg;
    // }
    // @include respond-below(lg) {
    //   height: $navbar-height-md;
    //   padding: 1rem 0 1rem 0;
    // }
    // @include respond-below(sm) {
    //   height: $navbar-height-xs;
    //   padding: 10px 0;
    // }
}


/* pagination */

.page-item {
    padding: 10px;
    // @include respond-below(sm) {
    //   padding: 3px;
    // }
    .page-link {
        outline: initial !important;
        box-shadow: initial !important;
        line-height: 1.7;
        border-radius: 40px !important;
        min-width: 38px;
        text-align: center;
        height: 38px;
        padding: 0.55rem 0;
        // @include respond-below(xs) {
        //   min-width: 30px;
        //   height: 30px;
        //   line-height: 0.9;
        //   font-size: 0.76rem;
        // }
        &.next {
            background: $main-color;
            color: $foreground-color;
            border: 1px solid $main-color;
        }
        &.prev,
        &.prev {
            background: $main-color;
            border: 1px solid $main-color;
            color: $foreground-color;
        }
        &:first,
        &.last {
            background: transparent;
            color: $main-color;
            border: 1px solid $main-color;
            border-radius: 30px;
            &:hover {
                background: $main-color;
                color: $foreground-color;
                border: 1px solid $main-color;
            }
        }
        &:hover {
            background-color: transparent;
            border-color: lighten($main-color, 10%);
            color: $main-color;
        }
    }
    &.active .page-link {
        background: transparent;
        border: 1px solid $main-color;
        color: $main-color;
    }
    &.disabled .page-link {
        /*border-color: $separator-color;*/
        border: initial;
        color: $separator-color;
        background: transparent;
    }
    &[role="separator"] .page-link {
        color: $mine-shaft;
    }
}

.page-link {
    background-color: transparent;
    border-color: transparent;
    color: $mine-shaft;
}

.pagination-sm {
    .page-item {
        padding: 6px;
        // @include respond-below(sm) {
        //   padding: 3px;
        // }
        .page-link {
            min-width: 30px;
            height: 30px;
            line-height: 0.9;
            font-size: 0.76rem;
        }
    }
}


/* Menu */

.v-sidebar-menu {
    margin-top: $navbar-height;
    @include depth(2);
    border-top-right-radius: $border-radius-rounded;
    border-bottom-right-radius: $border-radius-rounded;
    .vsm--icon {
        background: transparent !important;
    }
    .vsm--item,
    .vsm--link,
    .vsm--toggle-btn {
        outline: none;
    }
    .vsm--link_active {
        box-shadow: 3px 0px 0px 0px $main-color inset !important;
        color: $main-color !important;
        .vsm--icon {
            color: $main-color !important;
        }
    }
}

/* Forms */

.form-control,
.form-control.is-valid {
    height: initial;
    border-radius: $border-radius;
    outline: initial !important;
    box-shadow: initial !important;
    font-size: 0.8rem;
    padding: 0.7rem 0.75rem 0.65rem 0.75rem;
    line-height: 1.5;
    border: 1px solid $separator-color;
    background: $input-background;
    color: $mine-shaft;
}

.custom-checkbox .custom-control-label::before {
    box-shadow: initial !important;
    border-radius: 0.25rem;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: $main-color;
    border: 1px solid $main-color !important;
}


/* Spinner */

.spinner {
    width: 36px;
    text-align: center;
}

.spinner>span {
    width: 6px;
    height: 6px;
    background-color: $button-text-color;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
    animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/* Floating Label */

.has-float-label {
    display: block;
    position: relative;
}

.has-float-label label::after,
.has-float-label legend::after,
.has-float-label>span::after {
    background: white;
}

.has-float-label legend {
    width: auto;
}

.has-top-label label,
.has-top-label legend,
.has-top-label>span,
.has-float-label label,
.has-float-label legend,
.has-float-label>span {
    color: $secondary;
}

.has-float-label label,
.has-float-label legend,
.has-float-label>span:last-of-type {
    position: absolute;
    cursor: text;
    font-size: 90%;
    opacity: 1;
    top: -0.4em;
    left: 0.75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
}

.has-float-label label::after,
.has-float-label legend::after,
.has-float-label>span::after {
    content: " ";
    display: block;
    position: absolute;
    height: 5px;
    top: 3px;
    left: -0.2em;
    right: -0.2em;
    z-index: -1;
}

.has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
}

.has-float-label .form-control::-moz-placeholder {
    opacity: 1;
}

.has-float-label .form-control:-ms-input-placeholder {
    opacity: 1;
}

.has-float-label .form-control::placeholder {
    opacity: 1;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
    opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
    opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
}

.input-group .has-float-label {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.input-group .has-float-label .form-control {
    width: 100%;
}

.input-group .has-float-label:not(:last-child),
.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}

.input-group .has-float-label:not(:first-child),
.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}